.hContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
   
}
.hContainer>div{
    /* align-self: flex-start;  */
    flex:1;
}

.transaction{
    /* align-self: flex-start;  */
    border-radius: 2.2rem;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    padding: 3%;
    background-color:rgb(249, 197, 206);
}
