* {
  /* border: 2px coral solid; */
  box-sizing: border-box;
  font-family: "";
  font-size: 20px;
  margin: 0px;
  
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  border-radius: 1.2rem;
  width: 50%;
  box-shadow: 20px 20px 2px rgba(0, 0, 0, 0.25);
  margin-left: 25%;
  margin-top: 2%;
  background-color: whitesmoke;
  height:100%
}

#container1{
  padding-top: 20px;
  width:80%;
  align-self: center;
  display: flex;
  justify-content: center;
}

#container2{
  align-self: flex-start;
  margin-left:10%;

}
#container3{
  width:80%;
}

h1{
  color: purple;
  font-size: 35px;
}
h4{
  font-size: 40px;

}
h6{
font-size: 17px;
font-family: 'Lucida Sans', 'Lucida Sans Regular';

}
/* .App StatsPanel {
  text-align: center;
  color: purple;
  flex: 100%;
  margin: 0px;
  width: 100%;
} */






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
